---
layout: default
---
<style>
  .hack a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: inherit;
}

 .hack a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

 .link {
  text-decoration: underline;
  cursor: pointer;
}
</style>


<div class="posts-list l-page hack">

  {{ content }}

  <h1 class="post-tag">Latest Articles</h1>
  <!-- {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} -->
    {% for post in site.articles %}
    <a href="{{ post.url | relative_url }}" class="post-preview">
      <div>{{ post.date | date: "%-%b %Y" }}</div>
      <div class="thumbnail"><img src="{{ post.thumbnail }}"></div>
      <div class="description">
        <h2>{{ post.title }}</h2>
        <p>{{ post.subtitle }}</p>
      </div>
    </a>

    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
